
<div class="modal fade">
 <div class="modal-dialog modal-lg">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h4 class="modal-title">Add a Gift</h4>
     </div>
     <div class="modal-body">
      <form class="form-horizontal" role="form">
       <div class="form-group">
          <label for="inputTitle" class="col-sm-2 control-label">Title</label>
         <div class="col-sm-10">
           <input type="text" class="form-control" id="title" placeholder="Title or Description" ng-model="title">
         </div>
       </div>
       <div class="form-group">
         <label for="inputStore" class="col-sm-2 control-label">Store/Link</label>
         <div class="col-sm-10">
           <input type="text" class="form-control" id="storeLink" placeholder="Store or URL" ng-model="storeLink">
         </div>
       </div>
       <div class="form-group">
         <label for="inputRecipient" class="col-sm-2 control-label">Recipient</label>
         <div class="col-sm-10">
           <input type="text" class="form-control" id="recipient" placeholder="Who the gift is for" ng-model="recipient">
         </div>
       </div>
       <div class="form-group">
         <label for="inputHoliday" class="col-sm-2 control-label">Holiday</label>
         <div class="col-sm-10">
           <input type="text" class="form-control" id="holiday" placeholder="Christmas, Birthday, etc." ng-model="holiday">
         </div>
       </div>
       <div class="form-group">
         <label for="inputPrice" class="col-sm-2 control-label">Price</label>
         <div class="col-sm-10">
           <input type="text" class="form-control" id="price" placeholder="cost" ng-model="price">
         </div>
       </div>
       <div class="form-group">
         <label for="inputPurchased" class="col-sm-2 control-label">Purchased</label>
         <div class="col-sm-10">
           <label class="radio-inline"><input type="radio" name="purchased" ng-model="purchased" ng-value="true">Yes</label>
           <label class="radio-inline"><input type="radio" name="purchased" ng-model="purchased" ng-value="false">No</label>
         </div>
       </div>
       <div class="form-group">
         <label for="inputWrapped" class="col-sm-2 control-label">Wrapped</label>
         <div class="col-sm-10">
           <label class="radio-inline"><input type="radio" name="wrapped" ng-model="wrapped" ng-value="true">Yes</label>
           <label class="radio-inline"><input type="radio" name="wrapped" ng-model="wrapped" ng-value="false">No</label>
         </div>
       </div>
      </form>
     </div>
     <div class="modal-footer center-block">
       <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Add</button>
       <button type="button" ng-click="cancel()" class="btn">Cancel</button>
     </div>
   </div>
 </div>
</div>
