<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Gift</th>
            <th>Store/Link</th>
            <th>Recipient</th>
            <th>Holiday</th>
            <th>Price</th>
            <th>Purchased</th>
            <th>Wrapped</th>
          </tr>
        </thead>
        <tbody>
          <tr class="item" ng-class="{'editing-item': editing, 'edited': gift.edited}" ng-repeat="gift in gifts | orderBy: 'wrapped' " >
            <td><label ng-hide="editing" ng-click="editing=true">{{gift.title}}</label>
            <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="gift.title" ng-change="gift.edited = true"/></td>
            <td><label ng-hide="editing" ng-click="editing=true">{{gift.storeLink}}</label>
            <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="gift.storeLink" ng-change="gift.edited = true"/></td>
            <td><label ng-hide="editing" ng-click="editing=true">{{gift.recipient}}</label>
            <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="gift.recipient" ng-change="gift.edited = true"/></td>
            <td><label ng-hide="editing" ng-click="editing=true">{{gift.holiday}}</label>
            <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="gift.holiday" ng-change="gift.edited = true"/></td>
            <td><label ng-hide="editing" ng-click="editing=true">{{gift.price}}</label>
            <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="gift.price" ng-change="gift.edited = true"/></td>
            <td><input type="checkbox" ng-model="gift.purchased" ng-click="gift.purchased = !gift.purchased; gift.edited = true; editing=true" /></td>
            <td><input type="checkbox" ng-model="gift.wrapped" ng-click="gift.wrapped = !gift.wrapped; gift.edited = true; editing=true" /></td>
            <td>  <div class="actions">
              <a href="" class="save" ng-click="saveGifts()">Save</a>
              <a href="" class="delete" ng-click="deleteGift(gift, $index)">Delete</a>
            </div></td>
          </tr>
        </tbody>
      </table><ul class="pager"><li><a href="#">←  Prev</a></li><li><a href="#">Next  →</a></li></ul>
    </div>
  </div>
</div>
